body {
    padding-top: 50px; /* Whatever the height of your navbar is; the default is 50px */
}

p {
    color: #0D2526;
}

.navbar {
// #C3934B
// #CF81D5
// #2D8664
}

.section {
    height: 855px;
    padding: 80px;
}

.port-thumb img {
    height: 200px;
    width: 200px;
}

#home-section {
//background-color: #5375C6;
    background: url('https://www.googledrive.com/host/0B5N8vRHhtYBZMHJMQW1sRXVjN0E') no-repeat center center fixed;
    background-size: cover;
}

#projects-section {
    background-color: #D8E4AF;
}

#about-section {
//background-color: #8CB43C;
    color: #C3934B;
    background: url('https://www.googledrive.com/host/0B5N8vRHhtYBZTjFaQnF3WTREWHM/') no-repeat center center fixed;
    background-size: cover;
}

.social-buttons {
    padding: 50px 0 50px 0;
}